---
permalink: "/feed.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
<channel>
  <title>Dulce's Album Reviews</title>
  <description>Where I review albums occasionally</description>
  <link>https://dreamdulce.neocities.org</link>
  <ttl>1440</ttl>

  {% for rev in review_entries %}
  <item>
    <title>{{ rev.name }}</title>
    <description>{{ rev.desc }}</description>
    <link>https://dreamdulce.neocities.org/reviews/{{ rev.url }}</link>
    <pubDate>{{ rev.date }}</pubDate>
  </item>
  {% endfor %}
</channel>
</rss>
